*.swp
*debuglog.txt
*~
.idea
.vagrant*
/bin/
/build.xml
/build/
/cache.properties
/dotfiles
/nbproject
/web/bundles
app/bootstrap.php.cache
app/cache
app/config/*.rb
app/config/parameters.yml
app/logs
app/phpunit.xml
app/uploads/*
auth.json
compiled
php-cs-fixer.phar
vendor
