<?xml version="1.0"?>
<config>
	
	<!--Root Folder can be absolute or relative to receiver path -->
	<rootFolder>../framework/</rootFolder>
	<rootURL>universibo2/htmls/</rootURL>
	<paths>
		<application>../universibo/</application>
		<commands>../universibo/commands/</commands>
	</paths>
	
	<receivers>
		<main>index.php</main>
	</receivers>
	
	<defaultCommand>ShowHome</defaultCommand>
	<commands>
		<ShowError class="ShowError">
			<response type="template" name="default">error.tpl</response>
		</ShowError>
		<RegistraStudente class="RegistraStudente">
			<response type="template" name="default">registra_studente.tpl</response>
		</RegistraStudente>
		<Login class="Login">
			<response type="template" name="default">login.tpl</response>
		</Login>
		<Logout class="Logout" />
		<ShowManifesto class="ShowManifesto">
			<response type="template" name="default">manifesto.tpl</response>
		</ShowManifesto>
		<ShowHome class="ShowHome">
			<response type="template" name="default">home.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
		</ShowHome>
		<ShowHelp class="ShowHelpIndex">
			<response type="template" name="default">help.tpl</response>
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</ShowHelp>
		<ShowHelpTopic class="ShowHelpTopic">
			<response type="template" name="default">help_topic.tpl</response>
			<pluginCommand name="ShowTopic" class="Help.ShowTopic" />
			<pluginCommand name="ShowHelpId" class="Help.ShowHelpId" />
		</ShowHelpTopic>
		<ShowFacolta class="ShowFacolta">
			<response type="template" name="default">facolta.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
		</ShowFacolta>
		<ShowCdl class="ShowCdl">
			<response type="template" name="default">cdl.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
		</ShowCdl>
		<ShowInsegnamento class="ShowInsegnamento">
			<response type="template" name="default">insegnamento.tpl</response>
			<pluginCommand name="ShowNewsLatest" class="News.ShowNewsLatest" />
		</ShowInsegnamento>
		<ShowContribute class="ShowContribute">
			<response type="template" name="default">contribute.tpl</response>
			<response type="template" name="questionario_success">questionario_success.tpl</response>
		</ShowContribute>
		<ShowCredits class="ShowCredits">
			<response type="template" name="default">credits.tpl</response>
		</ShowCredits>
		<ShowContacts class="ShowContacts">
			<response type="template" name="default">chisiamo.tpl</response>
		</ShowContacts>
		<ShowCollaboratore class="ShowCollaboratore">
			<response type="template" name="default">collaboratore.tpl</response>
		</ShowCollaboratore>
		<ShowQuestions class="ShowQuestions">
			<response type="template" name="default">questionario.tpl</response>
		</ShowQuestions>
		<ShowRules class="ShowRules">
			<response type="template" name="default">regolamento.tpl</response>
		</ShowRules>
		<ShowSettings class="ShowSettings">
			<response type="template" name="default">impostazioni.tpl</response>
		</ShowSettings>
		<RegStudente class="RegStudente">
			<response type="template" name="default">reg_studente.tpl</response>
			<response type="template" name="success">reg_studente_success.tpl</response>
		</RegStudente>
		<NewPasswordStudente class="NewPasswordStudente">
			<response type="template" name="default">new_password_studente.tpl</response>
			<response type="template" name="success">new_password_studente_success.tpl</response>
		</NewPasswordStudente>
		<ChangePassword class="ChangePassword">
			<response type="template" name="default">change_password.tpl</response>
			<response type="template" name="success">change_password_success.tpl</response>
		</ChangePassword>
		
		<NewsAdd class="NewsAdd">
			<response type="template" name="default">news_add.tpl</response>
			<response type="template" name="success">news_add_success.tpl</response>
		</NewsAdd>
		<NewsDelete class="NewsDelete">
			<response type="template" name="default">news_delete.tpl</response>
			<response type="template" name="success">news_delete_success.tpl</response>
			<pluginCommand name="ShowNews" class="News.ShowNews" />
		</NewsDelete>
		<NewsEdit class="NewsEdit">
			<response type="template" name="default">news_edit.tpl</response>
			<response type="template" name="success">news_edit_success.tpl</response>
			<pluginCommand name="ShowNews" class="News.ShowNews" />
		</NewsEdit>


		<ScriptUpdateFileHash class="ScriptUpdateFileHash" />
		
		<TestUnit class="TestUnit" />
		<TestTemplate class="TestTemplate" />
	</commands>
	
	<dbInfo type="DB">
	    <connection identifier="main">pgsql://my_username:my_password@127.0.0.1/universibo2</connection>
	    <connection identifier="mysql">mysql://my_username:my_password@host/my_dbname</connection>
	</dbInfo>
	
	<mailerInfo>
		<!-- leave smtp empty if don't want to use a smtp server -->
	    <smtp>pippo.joker.ing.unibo.it</smtp>
	    <fromAddress>universibo@joker.ing.unibo.it</fromAddress>
	    <replyToAddress>universibo@joker.ing.unibo.it</replyToAddress>
	    <fromName>UniversiBO</fromName>
	</mailerInfo>
	
	<templateInfo type="Smarty" debugging="on">
		<template_dirs>
			<web_dir>tpl/</web_dir>
			<smarty_dir>../framework/smarty/</smarty_dir>
			<smarty_template>../universibo/templates/</smarty_template>
			<smarty_compile>../universibo/templates_compile/</smarty_compile>
			<smarty_config>../universibo/templates_config/</smarty_config>
			<smarty_cache>../universibo/templates_cache/</smarty_cache>
		</template_dirs>
		<template_styles default="black">
			<style name="black" dir="black/" />
			<style name="unibo" dir="unibo/" />
			<style name="simple" dir="simple/" />
		</template_styles>
	</templateInfo>	
	
	<langInfo>
	 	<lang_dir>../universibo/lang/</lang_dir> 
	 	<lang_default>it</lang_default> 
	 	<date_separator>/</date_separator> 
	</langInfo>	
	
	<!-- appSettings is an optional node. You can place any thing here 
                and access it from FrontController->getAppSetting()	-->
	<appSettings>
		<adLoginHost>127.0.0.1</adLoginHost>
		<adLoginPort>1525</adLoginPort>
		<logs>../universibo/log-universibo/</logs>
		<contactsPath>img/contacts/</contactsPath>
		<langFile>/location/of/userLanguageFile.txt</langFile>
		<filesPath>../universibo/file-universibo/</filesPath>
		<rootUrl>https://www.univesibo.unibo.it</rootUrl>
		<fotoDefault>no_foto.png</fotoDefault>
		<questionariReceiver>eagleone@libero.it;silvia.cereda@studio.unibo.it;spiff1281@email.it</questionariReceiver>
        <alertMessage>Messaggio di avviso importante ed urgente</alertMessage>
        <rootEmail>universibo@joker.ing.unibo.it</rootEmail>
        <infoEmail>info_universibo@calvin.ing.unibo.it</infoEmail>
        <regolamento>../universibo/files/regolamento.txt</regolamento>
        <informativaPrivacy>../universibo/files/informativa_privacy.txt</informativaPrivacy>
        <staffEmail>staff_universibo@calvin.ing.unibo.it</staffEmail>
        <defaultAnnoAccademico>2003</defaultAnnoAccademico>
	</appSettings>
	
</config>