<?xml version="1.0"?>
<config>

	<!--Root Folder can be absolute or relative to receiver path -->
	<rootFolder>../framework/</rootFolder>

	<!--Here root URL is virtual to the Web root****-->
	<rootURL>/universibo_2/htmls/</rootURL>

	<defaultCommand>TestTemplate</defaultCommand>
	
	<paths>
		<application>../universibo/</application>
		<logs>../universibo/log-universibo/</logs>
		<commands>../universibo/commands/</commands>
	</paths>
	
	<receivers>
		<main>index.php</main>
	</receivers>
	
	<commands>
		<StartExample1 class="Example1">
			 <template type="default">example1.htm</template>
		</StartExample1>
		<TestTemplate class="TestTemplate">
			 <template type="default">example1_a.htm</template>
		</TestTemplate>
		<DisplayRightFrame class="Example1">
			 <template type="default">example1_b.htm</template>
		</DisplayRightFrame>
		<StartExample2 class="Example2">
			 <template type="default">example2.htm</template>
		</StartExample2>
		<Register class="Example2_Register">
			 <template type="default">example2_a.htm</template>
			 <template type="failure">example2.htm</template>
		</Register>
		<StartExample3 class="Example3">
			 <template type="default">example3.htm</template>
		</StartExample3>
		<StartExample4 class="Example4">
			 <template type="default">example4.htm</template>
		</StartExample4>
		<StartExample5 class="Example5">
			 <template type="default">example5.htm</template>
		</StartExample5>
		<RunSessionExample class="SessionExample" />  -->
	</commands>
	<dbInfo type="DB">
	    <connection identifier="main">pgsql://my_username:my_password@host/my_dbname</connection>
	    <connection identifier="mysql">mysql://my_username:my_password@host/my_dbname</connection>
	</dbInfo>
	<mailerInfo>
	<!-- leave smtp empty if don't want to use a smtp server -->
	    <smtp>joker.ing.unibo.it</smtp>
	    <fromAddress>universibo@joker.ing.unibo.it</fromAddress>
	    <fromName>UniversiBO</fromName>
	</mailerInfo>
	<templateInfo type="Smarty" debugging="off">
		<template_dirs>
			<web_dir>tpl/</web_dir>
			<smarty_dir>../framework/smarty/</smarty_dir>
			<smarty_template>../universibo/templates/</smarty_template>
			<smarty_compile>../universibo/templates_compile/</smarty_compile>
			<smarty_config>../universibo/templates_config/</smarty_config>
			<smarty_cache>../universibo/templates_cache/</smarty_cache>
		</template_dirs>
		<template_styles default="black">
			<style name="black" dir="black/" />
			<style name="unibo" dir="unibo/" />
			<style name="simple" dir="simple/" />
		</template_styles>
	</templateInfo>	
	
	<langInfo>
	 	<lang_dir>../universibo/lang/</lang_dir> 
	 	<lang_default>it</lang_default> 
	 	<date_separator>/</date_separator> 
	</langInfo>	
		
	<!--****appSettings is an optional node. You can place any thing here 
                and access it from $fc->appSettings
	****-->
	<appSettings>
		<langFile>/location/of/userLanguageFile.txt</langFile>
		<files>../html/file-universibo</files>
		<questionariReceiver>eagleone@libero.it</questionariReceiver>
        <alertMessage>Il sito è momentaneamente accessibile in sola lettura per attività di manutenzione. Ci scusiamo per il disagio.</alertMessage>
        <rootEmail>universibo@joker.ing.unibo.it</rootEmail>
        <staffEmail>staff_universibo@calvin.ing.unibo.it</staffEmail>
	</appSettings>
</config>