<?xml version="1.0"?>
<config>
	
	<!--Root Folder can be absolute or relative to receiver path -->
	<rootFolder>../framework/</rootFolder>
	<rootURL>universibo2/htmls/</rootURL>
	<paths>
		<application>../universibo/</application>
		<logs>../universibo/log-universibo/</logs>
		<commands>../universibo/commands/</commands>
	</paths>
	
	<receivers>
		<main>index.php</main>
	</receivers>
	
	<defaultCommand>ShowHome</defaultCommand>
	<commands>
		<ShowError class="ShowError">
			 <response type="template" name="default">error.tpl</response>
		</ShowError>
		<Login class="Login">
			 <response type="template" name="default">login.tpl</response>
		</Login>
		<Logout class="Logout" />
		<ShowManifesto class="ShowManifesto">
			 <response type="template" name="default">manifesto.tpl</response>
		</ShowManifesto>
		<ShowHome class="ShowHome">
			 <response type="template" name="default">home.tpl</response>
		</ShowHome>
		<ShowFacolta class="ShowFacolta">
			 <response type="template" name="default">facolta.tpl</response>
		</ShowFacolta>
		<ShowContribute class="ShowContribute">
			 <response type="template" name="default">contribute.tpl</response>
		</ShowContribute>
		<ShowContacts class="ShowContacts">
			 <response type="template" name="default">chisiamo.tpl</response>
		</ShowContacts>
		<ShowQuestions class="ShowQuestions">
			 <response type="template" name="default">questionario.tpl</response>
		</ShowQuestions>
		<ShowRules class="ShowRules">
			 <response type="template" name="default">regolamento.tpl</response>
		</ShowRules>
		<TestUnit class="TestUnit" />
		<TestTemplate class="TestTemplate" />
	</commands>
	
	<dbInfo type="DB">
	    <connection identifier="main">pgsql://my_username:my_password@127.0.0.1/universibo2</connection>
	    <connection identifier="mysql">mysql://my_username:my_password@host/my_dbname</connection>
	</dbInfo>
	
	<mailerInfo>
		<!-- leave smtp empty if don't want to use a smtp server -->
	    <smtp>joker.ing.unibo.it</smtp>
	    <fromAddress>universibo@joker.ing.unibo.it</fromAddress>
	    <fromName>UniversiBO</fromName>
	</mailerInfo>
	
	<templateInfo type="Smarty" debugging="on">
		<template_dirs>
			<web_dir>tpl/</web_dir>
			<smarty_dir>../framework/smarty/</smarty_dir>
			<smarty_template>../universibo/templates/</smarty_template>
			<smarty_compile>../universibo/templates_compile/</smarty_compile>
			<smarty_config>../universibo/templates_config/</smarty_config>
			<smarty_cache>../universibo/templates_cache/</smarty_cache>
		</template_dirs>
		<template_styles default="black">
			<style name="black" dir="black/" />
			<style name="unibo" dir="unibo/" />
			<style name="simple" dir="simple/" />
		</template_styles>
	</templateInfo>	
	
	<langInfo>
	 	<lang_dir>../universibo/lang/</lang_dir> 
	 	<lang_default>it</lang_default> 
	 	<date_separator>/</date_separator> 
	</langInfo>	
	
	<!--****appSettings is an optional node. You can place any thing here 
                and access it from $fc->appSettings
	****-->
	<appSettings>
		<langFile>/location/of/userLanguageFile.txt</langFile>
		<forumLocation>forum/</forumLocation>
		<files>../html/file-universibo</files>
		<questionariReceiver>eagleone@libero.it</questionariReceiver>
        <alertMessage>Il sito è momentaneamente accessibile in sola lettura per attività di manutenzione - Ci scusiamo per il disagio</alertMessage>
        <rootEmail>universibo@joker.ing.unibo.it</rootEmail>
        <staffEmail>staff_universibo@calvin.ing.unibo.it</staffEmail>
        <defaultAnnoAccademico>2003</defaultAnnoAccademico>
	</appSettings>
	
</config>