BODY {
	FONT-SIZE: 12pt; BACKGROUND: "#ffff99"; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.body {
	FONT-SIZE: 10pt; BACKGROUND: #000033; COLOR: #ffffff; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif
}
.bodypage {
	PADDING-RIGHT: 15pt; PADDING-LEFT: 15pt; FONT-SIZE: 10pt; BACKGROUND: #ffffff; COLOR: #000000; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif
}
.maintitle {
	PADDING-LEFT: 10pt; FONT-WEIGHT: bold; FONT-SIZE: 18pt; BACKGROUND: #000033; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana
}
A {
	FONT-SIZE: 12pt; COLOR:'navy';  FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-STYLE: 'italic';
}
A:link {
	TEXT-DECORATION: none; 
}
A:visited {
	TEXT-DECORATION: none;
}
A:active {
	TEXT-DECORATION: none;
}
A:hover {
	TEXT-DECORATION: underline;
}
A.minimenu {
	FONT-SIZE: 8.5pt; BACKGROUND: #000033; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.minimenu:link {
	TEXT-DECORATION: none
}
A.minimenu:visited {
	TEXT-DECORATION: none
}
A.minimenu:active {
	TEXT-DECORATION: none
}
A.minimenu:hover {
	TEXT-DECORATION: underline
}
TABLE.main {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: #cccccc; BACKGROUND: #cccccc; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #cccccc; WIDTH: 100%; COLOR: #000000; BORDER-TOP-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #cccccc
}
TD.minimenu {
	FONT-SIZE: 8pt; BACKGROUND: #000033; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 24pt; TEXT-ALIGN: right
}
i{
FONT-SIZE: 12pt; COLOR:'navy'; FONT-WEIGHT: bold;
}

h2{
COLOR:'navy'; FONT-WEIGHT: bold; 
}

h3{
COLOR:'navy'; FONT-WEIGHT: bold;FONT-SIZE: 14pt;
}

h4{
COLOR:'#993366'; FONT-WEIGHT: bold; FONT-SIZE: 12pt;
}

code{
FONT-SIZE: 12pt; COLOR:'#cc0033'; FONT-WEIGHT: bold; FONT-STYLE: 'normal'
}
