.head {
	FONT-SIZE: 10pt; COLOR:yellow; BACKGROUND: #000063; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
A:link {
	COLOR:#FFFF66;
        BACKGROUND: #000063; 
}
A:visited {
	COLOR:#FFFFCC;
        BACKGROUND: #000063;
}
