body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: white;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

/* si gentile con netscape*/
p, td, ul, ol, ul, li, dl, dt, dd, a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

hr
{
	border-style: none;
	border-top: dotted 2px #999;
	margin: 30px 0 10px;
}

img
{
	margin: 0;
	border: 0 none;
	padding: 0;
}

h4
{	
	font-size: 13px;
}

form input{
	font-size: 11px;
	height: 13px;
	border: solid 1px #999;
}

form input.submit{
	font-size: 11px;
	height: 17px;
	border: solid 1px #999;
}

form fieldset 
{
	margin: 12px 0;
}
form fieldset p
{
	clear: both;
}
/*
form fieldset .casella
{
	float: right;
	text-align: left;
	display: inline;	
}*/
form .label
{
	float: left;
	width: 90px;
	padding-right: 15px !important;
	text-align: right;
	display: inline;
}
/**
 *	Tips per accessibilità
 */

.hide
{
	display: none !important;
}

/** 
 *	Testata
 */

#header
{
	background: #0006c2;
	padding: 0;
	margin: 0;
	border: 0;
	float: left;
	width: 100%;
}
td>#header		/* questa regola viene ignorata da exploder*/
{
	min-width: 715px;
}

#header a img
{
	background: white;
	border-style: none;
	position: absolute;
	left: 0;
	top: 0;
}
#header #logo
{
	border-style: none;
	position: relative;
	left: 200px;
	top: 0;
}

#header p, #header a, #menubar p, #menubar a
{
	color: #fff;
	clear: none;
	display: inline;
	padding: 0;
	margin: 0;
	border: 0 none;
	font-size: 10px ;
}

#Info
{
	clear: none;
	position: absolute;
	left: 202px;
	top: 74px;
	font-weight: bold;
}

#menubar
{
	clear: left;
	background: #666666;
	margin: 0;
	padding: 2px 0 4px;
	width: 100%;
	vertical-align: middle;	
}

#Menu
{
	position: relative;
	left: 202px;
	font-weight: bold;
}

#header .TimeInfo
{
	font-size: 11px;
	position: absolute;
	right: 10px;
	top: 2px;
	padding: 3px 2px 0 0;
}


/** 
 *	Menu navigazione
 */

#leftmenu
{
	background: white url(pixel.gif) repeat;
	padding: 1.4em 0 0;
	border-bottom:dotted 2px #999;
}
	
td.evidenzia{
	border-right: solid 1px #999;
}

#leftmenu a
{
	color: #333;
	font-size: 11px;
	text-decoration: none;
}

#leftmenu li
{
	margin-left: 20px;
	margin-bottom: 2px;
	font-size: 11px;
}

#Qui
{
	margin-left: 0 !important;
	overflow: visible;
	width: 100%;
	background: #ccc url(navig_freccia.gif) no-repeat left;
}
#leftmenu li#Qui a
{
	margin-left: 20px;
}

#leftmenu ul
{
	list-style-type: none;
	padding: 0 0 2px;
	margin: 0 0 4px;
	font-weight: bold;
	border-bottom: dotted 2px #999;
}

#leftmenu ul li ul li a, #leftmenu ul li ul li, #leftmenu ul li ul
{
	font-weight: normal;
	margin-left: 0;
	border-bottom: 0; 
	padding: 0;
}

.lastElemento
{
	border: 0 !important;
	margin-bottom: 0 !important;
}


#rightmenu
{
/*	float: right;	*/
	/*padding-right: 10px;*/
	margin-right: 10px;
	padding: 0;
	width: 168px;
}

/**
 * Pagina centrale
 */
#seiIn
{
	display: block;
	margin: .4em 0 0 .3em;
	padding:0;
	font-size: 11px;
	color: #333;
}
#seiIn a
{
	color: #333;
	font-style: oblique;
}

#content
{
	margin: 10px 20px 10px 30px;
	text-align: center;
	padding: 0;
}

#content h1
{
	display: block;
	font-size: 15px;
	font-weight: bold;
	clear: left;
	color: #386dce;
	margin: 3px;
}

#content h2, #content h2 a
{
/*	margin-top: 30px;
	border-top: dotted 2px #999;
	padding-top: 10px;*/
	display: block;
	font-size: 15px;
	clear: left;
	color: #386dce;
	text-align: left;
}


#content #home
{
	margin: 20px 0;
	padding: 2px;
	text-align: left;
}

#content p, #content li
{
	clear: left;
	margin: 10px 4px;
	display: block;
	text-align: left;
}

.evidenzia
{
	background-color: #d9e5ff !important;
}

/**
 * Box vari
 *
 */

.news, .elenco, .chi_siamo
{
	font-size: 11px;
	margin: 2em 0;
	display: block;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	text-align: left;
}
.news, .chi_siamo { padding: 0 0 4px; }
.elenco { padding: 0; }

.elenco div
{
	border-bottom: dotted 2px #999
}
/*
.elenco		TODO non riesco a centrare sto cacchio di div
{
	width: 90%;
}*/

.odd
{
	background-color: #eff3fc;
	margin: 0 !important;
	padding: 2px 0 !important;
}
.even
{
	margin: 0 !important;
	padding: 2px 0 !important;
}

.news p, .news a, .news li, .news h3, .news td, .elenco p, .elenco a, .elenco li, .elenco h3, .elenco td, .chi_siamo p, .chi_siamo a, .chi_siamo li, .chi_siamo h3, .chi_siamo td
{
	font-size: 11px;
}

.work p, .work a, .work li, .work h3
{
	font-size: 11px;
}

.news h3, .work  h3
{
	background-color: #d9e5ff;
	color: #333;
	margin: 0 0 2px;
	padding: 2px;
}
.elenco h3
{
	background-color: #d9e5ff;
	color: #333;
	margin: 0;
	padding: 2px;
}

.news p, .work p, .box p, .elenco p
{
	float: none !important;
	margin: 0 2px;
	padding: 0;
	line-height: 1.3;
}

.news table
{
 	width: 100%;
}

.news .piePagina
{
	float: right;
	display: inline;
}

/*.news span
{
	margin: 0 2px;
}

.news span p
{
	display: inline !important;
}
*/

/*.news ul,.news li,*/.news a, .box a
{
	display: inline;
}

/*.news ul,li
{
	list-style-type: none;
	margin-top: 2px;
}
*/


.work 
{
	border: solid 1px #999;
	padding: 0;
	margin: 0.33%;
	float: left;
	font-size: 11px;
	/*voice-family: "\"}\"";
	voice-family: inherit;*/
	width: 32%;
}

#content>.work
{
	margin: 0.537%;
	width: 32%;
}

.box
{
	font-size: 10px;
	border: solid 1px #999;
	padding: 0;
	background: white url(pixel.gif) repeat;
	margin: 15px 8px;
}

.box div.contenuto
{
	margin: 6px;
}

.box form input, .box form label{
	margin: 2px;
	text-align: center;
	font-size: 10px;
	vertical-align: text-top;
}

.box form label{
	font-weight: bold;
}

.box form{
	text-align: center;
	margin: 4px;
}

.box p, .box a, .box li, .box h3
{
	font-size: 10px !important;
}

.box p, .box a, .box ul, .box span
{
	margin: 4px 2px !important;
}

.box h3
{
	margin: 0;
	padding: 2px;
	color: white;
	background-color: #386dce;
}

.box p, .box a
{
	font-weight: bold;
}
.box a
{
	color: #00e !important;
	padding: 0;
	margin: 0;
}
.box h3 a, .work h3 a,.news h3 a
{
	color: white !important;
}
.box span
{
	color: #666;
	margin: 0;
}

.backlink
{
	margin-top:3px;
	/*padding:2px 2px 2px 0;*/
	width: 100%;
	text-align: right;
	text-decoration: underline;
}

.box .Feriali {
	font-size: 10px; color: #000;
}
.box .Festivi, .Domeniche {
	font-size: 10px; color: #d00;
}
.box .Oggi {
	font-size: 10px; color: #000; background-color: #9cd;
}
.box .Piccolo {
	font-size: 10px; color: #fff; 
}

#footer
{
	border-top: dotted 2px #999;
	margin: 40px 10px 0 20px;
	padding: 15px 180px 0 5px;
	color: #666;
}

#footer p
{
	font-size: 10px;
	margin: 0;
	padding: 0;
}

#alert
{
	color: red;
}

.actions
{
	margin-top: 5px;
}

#content .longText
{
	text-align: justify;
}

.tbl2col
{
	font-size: 11px;
	margin: 2em 0;
	display: block;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}

.tbl2col table
{
	font-size: 11px;
	border-color: #999 !important;
	border-width: 0 !important;
	border-collapse: collapse;
}

.titolo /* da chi è usato?*/
{
	padding: 0;
	margin: 40px 0 !important;
}
.titoloPagina p, .titoloPagina a, .titoloPagina h1, .titoloPagina h2, .titoloPagina h4
{ 
	text-align: center !important;
	width: auto;
}
.titoloPagina a
{
	font-size: 11px !important;
	display: inline;
}
.titoloPagina
{
	margin-bottom: 30px;
}
.chi_siamo div
{
	background: white url(pixel.gif) repeat;
}
.chi_siamo h3
{
	margin: 0;
	padding: 2px;
	background-color: #ccc;
}
.chi_siamo span
{
	color: #386dce;
	font-weight: bold;
}

.elencoTopic
{
	font-size: 11px;
	margin: 2em 12%;
	display: block;
	border-top: dotted 2px #999;
	border-bottom: dotted 2px #999;
	padding: 0;
	width: 76%;
}
.elencoTopic p
{
	font-size: 12px;
}	
.elencoTopic .even
{
	background-color: #efefef;
}
.elencoTopic .odd
{
	background-color: #f8f8f8;
}
.help_generale h3
{
	color: #386dce;
	text-align: left !important;
	font-size: 12px;
}
.help_generale p, .help_generale a, .help_generale li, .help_generale ul, .help_generale
{
	text-align: left;
	font-size: 12px;
}
.help_generale div
{
	text-align: right;
}

.comandi a
{	
	font-size: 11px;	
}