<html><body>
<table width="50%">
<tr><td width="15">ID</td><td width="35%">Name</td></tr>
<loop start="books"/>
<tr>
<td width="15%"><a href="{t_receiver.main}?do=DisplayDetails&id={books.id}">{books.id}</a></td>
<td width="35%">{books.name}</td>
</tr>
<loop end="books"/>
</table>
<form action="{t_receiver.main}?do=StartExample3" method="post">
<select name="f_bookSelection">
<loop start="bookSelection"/>
{bookSelection.bookName}
<loop end="bookSelection"/>
</select>
<input type="submit" value="Submit">
</form>
<br>
<ol>
<loop start="dbResultLoop"/>
<li>{dbResultLoop.t_theBookName}
<loop end="dbResultLoop"/>
</ol>
</body></html>